*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
}
body{
    max-width: 1200px;
    margin: auto;
}
header{
    display: flex;
    justify-content: space-between;
    height: 70px;
    padding: 12px 0px;
    align-items: center;
    position: fixed;
    z-index: 1;
    background: rgba(255, 255, 255, 0.3);
    width: 1200px;
}
header.sticky{
    background: rgba(255, 255, 255, 1);
}
header:hover{
    background: rgba(255, 255, 255, 1);
}
li{
    list-style: none;
}
a{
    text-decoration: none;
    color: black;
    cursor: pointer;
}
.container{
    max-width: 1200px;
    margin: auto;
}
.row{
    display: flex;
    flex-wrap: wrap;
}
.logo{
    flex: 1;
}
.menu{
    flex: 3;
    display: flex;
}
.menu > li{
    padding: 0 12px;
    position: relative;
}
.menu > li:hover .sub-menu{
    visibility: visible;
    top: 30px;
}
.menu a:hover{
    border-bottom: 3px solid black;
}
.sub-menu{
    position: absolute;
    width: 150px;
    border: 1px solid #ccc;
    padding: 10px 0 10px 20px;
    visibility: hidden;
    transition: 0.3s;
    top: 50px;
    background-color: white;
    z-index: 1;
}
.sub-menu ul{
    padding-left: 20px;
    
}
.sub-menu li a{
    font-weight: normal!important;
    font-size: 16px!important;
}
.menu li a{
    font-size: 16px;
    font-weight: bold!important;
    display: block;
    line-height: 20px;
}
.search{
    flex: 1;
    display: flex;
}
.search >li{
    padding: 0 12px;
    position: relative;
}
.search >li::after{
    content: "";
    display: block;
    width: 1px;
    height: 80%;
    background-color: #cccccc;
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
}
.search >li:last-child::after{
    display: none;
}
.search >li:first-child{
    position: relative;
}
.search >li:first-child input{
    width: 100px;
    border: none;
    border-bottom: 3px solid #ccc;
    background: transparent;
    outline: none;
}
.search >li:first-child i{
    position: absolute;
    right: 10px;
}
.section1{
    padding-top: 80px;
}
.dot-container{
    position: absolute;
    height: 30px;
    width: 1200px;
    text-align: center;
    padding-top: 180px;
}
.fa-chevron-left{
    float: left;
    cursor: pointer;
}
.fa-chevron-right{
    float: right;
    cursor: pointer;
}
.dot-container > a{
    width: 30px;
    height: 30px;
}
/* -------------------Footer------------------- */
footer{
    text-align: center;
    padding-top: 70px;
}
.fopter-top{
    display: flex;
    margin-bottom: 20px;
    align-items: center;
    justify-content: center;
    height: 70px;
}
.fopter-top li{
    padding: 0 12px;
    position: relative;
}
.fopter-top li::after{
    content: "";
    display: block;
    width: 1px;
    height: 80%;
    background-color: #cccccc;
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
}
.fopter-top li:last-child::after{
    display: none;
}
.fopter-top li:last-child a{
    margin-right: 12px;
    color: #333;
}
.footer-center{
    text-align: center;

}
.footer-bottom{
    padding: 15px 0;
    margin: 10px 0;
    text-align: center;
    background-color: #ccb2e6;
}
/* ------------------------------Cartegory---------------------- */
.cartegory{
    padding: 100px 0 0;
}
.container-top{
    margin-bottom: 50px;
}
.container-top p{
    font-family: var(--main-text-font);
    margin: 0 12px;
    font-size: 12px;
}
.cartegory-left{
    width: 20%;
}
.cartegory-right{
    width: 80%;
}
.csrtegory-right-top-item:first-child{
    flex: 2;
    font-size: 16px;
    font-family: var(--main-text-font);
    font-weight: bold;
}
.csrtegory-right-top-item{
    flex: 1;
    padding: 0 12px;
}
.csrtegory-right-top-item button{
    width: 100%;
    padding: 10px 15px;
    display: flex;
    justify-content: space-between;
    background-color: white;
    border: 1px solid #dddddd;
    cursor: pointer;
}
.csrtegory-right-top-item select{
    width: 100%;
    padding: 10px 15px;
    display: flex;
    justify-content: space-between;
    background-color: white;
    border: 1px solid #dddddd;
    cursor: pointer;
}
.cartegory-right-content{
    margin-top: 20px;
    justify-content: space-between;
}
.cartegory-right-content-item{
    width: calc(25% - 12px);
    text-align: center;
    padding: 12px 0;
}
.cartegory-right-content-item h1{
    font-size: 11px;
    font-family: var(--main-text-font);
    margin-top: 6px;
    color: #333333;
}
.cartegory-right-content-item sup{
    font-size: 11px;
    font-family: var(--main-text-font);
    margin-top: 6px;
    color: #333333;
}
.cartegory-right-content-item img{
    width: 100%;
}
.cartegory-right-content-item p{
    font-size: 12px;
}
.cartegory-right-bottom{
    justify-content: space-between;
    margin: 30px 0 20px;
    width: 100%;
}
.cartegory-right-bottom p{
    font-family: var(--main-text-font);
    font-size: 11px;
}
.cartegory-right-bottom span{
    font-family: var(--main-text-font);
    font-size: 11px;
}
.cartegory-left ul li{
    padding: 12px 0;
}
.cartegory-left ul li a{
    color: black;
    font-size: 16px;
    font-weight: bold;
    font-family: var(--main-text-font);
}
.cartegory-left ul li ul li{
    padding-left: 10px;
}
.cartegory-left-li ul{
    display: none;
}
.cartegory-left ul li.block ul{
    display: block;
}
.cartegory-left ul li ul li a{
    color: #333333;
    font-size: 12px
}
/* product */
.product{
    padding: 100px 0 0;
}
.product-top{
    margin-bottom: 30px;
}
.product-top p{
    font-family: var(--main-text-font);
    margin: 0 12px;
    font-size: 12px;
}
.product-content-left{
    width: 50%;
}
.product-content-left-big-img{
    width: 80%;
    padding-right: 20px;
}
.product-content-left-big-img img{
    width: 100%;
}
.product-content-left-small-img{
    width: 20%;
}
.product-content-left-small-img img{
    width: 100%;
    cursor: pointer;
}
.product-content-right{
    width: 50%;
    padding-left: 20px;
    font-family: var(--main-text-font);

}
.product-content-right-name h1{
    font-size: 16px;
}
.product-content-right-name p{
    color: #cccccc;
    font-size: 12px;
}
.product-content-right-price{
    margin: 12px 0;
    font-size: 20px;
    font-weight: bold;
}
.product-content-right-color img{
    width: 30px;
    height: 30px;
    border-radius: 50%;
}
.product-content-right-color-img{
    width: 40px;
    height: 40px;
    border: 1px solid #333;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 12px 0;
}
.size span{
    display: inline-block;
    padding: 3px 6px;
    border: 1px solid #dddddd;
    margin: 12px 10px 12px 0;
    font-size: 12px;
    cursor: pointer;
}
.product-content-right-quantity{
    display: flex;
}
.product-content-right-quantity input{
    width: 35px;
    padding-left: 3px;
}
.product-content-right-quantity-p{
    margin-bottom: 20px;
}
.product-content-right-button p{
    font-size: 14px;
}
.product-content-right-button button{
    width: 150px;
    height: 40px;
    display: block;
    margin: 20px 0 12px;
    transition: all 0.3s ease;
}
.product-content-right-button button:first-child{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: #ffff;
    border: 2px solid black;
    cursor: pointer;
}
.product-content-right-button button:first-child:hover{
    background-color: black;
    color: white;
}
.product-content-right-button button:last-child{
    border: 2px solid #FFD43B;
    color: #FFD43B;
    background-color: white;
    cursor: pointer; 
}
.product-content-right-icon{
    display: flex;
}
.product-content-right-icon-item{
    display: flex;
    margin-right: 12px;
    justify-content: center;
    align-items: center;
}
.product-content-right-icon-item i{
    font-size: 12px;
    margin-right: 6px;
}
.product-content-righ-qr{
    margin: 20px 0;
}
.product-content-right-bottom{
    position: relative;
    padding-top: 40px;
    border-top: 1px solid #dddddd;
}
.product-content-right-bottom-top{
    position: absolute;
    width: 30px;
    height: 30px;
    border: 1px solid #dddddd;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    top: -15px;
    left: 50%;
    transform: translateX(-50%);
    cursor: pointer;
}
.product-content-right-bottom-content-title{
    border-bottom: 2px solid #dddddd;
}
.product-content-right-bottom-content-title-item{
    padding: 6px;   
    cursor: pointer;
    margin-right: 6px;
}
.product-content-right-bottom-content-title-item p{
    font-family: var(--main-text-font);
    font-size: 12px;
}
.product-content-right-bottom-content{
    padding-top: 30px;
}
.product-content-right-bottom-content p{
    font-family: var(--main-text-font);
    font-size: 12px;
}
.product-content-right-bottom-content-thongso{
    display: none;
}
.activeB{
    display: none;
}